.git-revision-date-localized-plugin {
    color: darkgrey !important;
    font-family: "LXGW WenKai" !important;
}

.md-source-file__fact {
    color: darkgrey !important;
    font-family: "LXGW WenKai" !important;
}
/*.md-icon {*/
/*    color: darkgrey !important;*/
/*}*/
