.admonition.info.reading-info {
    border: none !important; 
    background-color: transparent !important;
    color: darkgrey !important;
    box-shadow: none !important;
    /*padding: 0 !important;*/
}

.admonition.info.reading-info > .admonition-title::before {
    color: #4caf50 !important;
}

.admonition.info.reading-info > .admonition-title {
    display: none !important;
}

.md-contributor__avatar {
    filter: none !important;
}

